body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.smallSlider {



}

.lightSteelBlueBackground {

background-color:LightSteelBlue;

}

.salmonBackground {

background-color:salmon;

}
